html {
  margin: 5px 15px 10px 15px;
  background-color: #E0E0E0;
  color: #050505;
}

body {
  width: inherit;
  height: inherit;
}

header {
  position: sticky;
  height: auto;
  width: auto;
  color: #050505;
  font-family: 'Playfair Display', serif;
  text-align: center;
  border-bottom: 2px ridge #999999;
  border-radius: 9px;
  border-top: 2px ridge #999999;
  margin: 10px;
}

h1 {
  margin-left: 10px;
}

h2, h3 {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Roboto', sans-serif;
  margin-left: 14px;
}

#artigo1 {
  color: #000000;
  width: inherit;
  height: auto;
  border: 1px;
  padding: 10px;
  border-radius: 8px;
  margin: 20px;
  border-left: 3px ridge;
  border-right: 2px ridge;
  border-top: 2px ridge;
  border-bottom: 2px ridge;
}

#imagem1 {
  float: left;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin: 8px 17px 8px 1px;
  border-style: solid;
  border-width: thin;
}

#artigo2 {
  color: #000000;
  max-width: fit-content;
  height: auto;
  border: 1px;
  padding: 10px 25px 10px 25px;
  border-radius: 8px;
  margin: 20px;
  border-left: 3px ridge;
  border-right: 2px ridge;
  border-top: 2px ridge;
  border-bottom: 2px ridge;
}

#div1 {
  height: 150px;
  padding: 0px 30px 0px 1px;
  max-height: 100%;
  width: auto;
  position: sticky;
}

#div2 {
  max-height: 100%;
  width: auto;
  padding: 0px 0px 0px 10px;
  position: relative;
}

#botao_5g {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: 1px;
  border-width: thin;
  margin-bottom: 35px;
}

iframe {
  max-width: 100%;
  height: auto;
}

nav {
  display: flex;
  justify-content: left;
  margin-left: 15px;
  font-family: 'Dosis', sans-serif;
}

#ul1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #383838;
  border-radius: 4px;
}

#li1 {
  float: left;
  border-right: 1px solid #bbb;
}

#li1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li1 a:hover {
  background-color: #787878;
}

.li1 {
  float: left;
  border-right: 1px solid #bbb;
}

.li1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li1 a:hover {
  background-color: #787878;
}

#imagem_pagina_2 {
  max-width: 30%;
  height: auto;
  border-radius: 5px;
  margin: 10px 20px 0px 12px;
  border-style: solid;
  border-width: 1px;
}
