html {margin: 10px 200px 10px 180px;
      background-color: #E0E0E0;
      color: #050505
}
h1 {
  height: auto;
  width: auto;
  color: #050505;
  font-size: auto;
  font-family: 'Playfair Display', serif;
  text-align: center;
  border-bottom: 1px solid #999999;
}
#imagem1 {
  height: 250px;
  width: auto;
  padding: 0px 17px 1px 0px;

}

h2{

 }
 p {font-family: 'Roboto', sans-serif;}
